dj-database-url @ file:///home/conda/feedstock_root/build_artifacts/dj-database-url_1692119547398/work
Django @ file:///home/conda/feedstock_root/build_artifacts/django_1693929744596/work
django-bootstrap4 @ file:///home/conda/feedstock_root/build_artifacts/django-bootstrap4_1634749717176/work
django-heroku @ file:///home/conda/feedstock_root/build_artifacts/django-heroku_1642605802805/work
docopt==0.6.2
gunicorn==21.2.0
psycopg2 @ file:///D:/bld/psycopg2-split_1694260344402/work
PyMySQL==1.1.0
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1681817562700/work
whitenoise @ file:///home/conda/feedstock_root/build_artifacts/whitenoise_1686933972273/work
